<h1>Sign Up</h1>


<%= form_for :@user123 , url: users_path do |x| %>
<p>
    Username:
    <%= x.text_field :username%>
</p>
<p>
    Name:
    <%= x.text_field :name%>
</p>
<p>
    Email:
    <%= x.text_field :email%>
</p>

<p>
    Password:
    <%= x.password_field :password%>
</p>
<p>
    <%= x.submit 'Save' %>
</p>
<% end %>