<h1 class="h2">All Events</h1>

<h3> Upcoming Events </h3>
<table class="table">
    <thead>
        <tr>
            <th style='padding-left:25px'>Event</th>
            <th style='padding-left:25px'>Date</th>
            <th style='padding-left:25px'>Creator</th>

            <th style='padding-left:25px'>Link</th>
            <th style='padding-left:25px'>Attend Event</th>

        </tr>
    </thead>

    <tbody>
        <% @eventsupcoming.each do |x| %>
        <tr>
            <td><%= truncate(x.description,length:50) %></td>
            <td style='padding-left:25px'><%= x.eventdate.strftime(' %d-%m-%Y') %>
            <td style='padding-left:25px'><%= (User.find_by_id(x.creator_id)).name %></td>

            <td style='padding-left:25px'><%= link_to 'Show', x %></td>

            <%=allevents(x)%>
        </tr>
        <%end%>
    </tbody>
</table>




<h3> Past Events </h3>
<table class="table">
    <thead>
        <tr>
            <th style='padding-left:25px'>Event</th>
            <th style='padding-left:25px'>Date</th>

            <th style='padding-left:25px'>Creator</th>
            <th style='padding-left:25px'>Link</th>

        </tr>
    </thead>

    <tbody>
        <% @eventspast.each do |x| %>
        <tr>
            <td><%= truncate(x.description,length:50) %></td>
            <td style='padding-left:25px'><%= x.eventdate.strftime(' %d-%m-%Y') %>

            <td style='padding-left:25px'><%= (User.find_by_id(x.creator_id)).name %></td>
            <td style='padding-left:25px'><%= link_to 'Show', x %></td>
        </tr>


        <% end %>
    </tbody>
</table>